apiVersion: v1
kind: Service
metadata:
  name: kustomize-sample
  labels:
    app: kustomize-sample
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: kustomize-sample
